Django==1.6.2
Jinja2==2.7.2
MarkupSafe==0.19
Pygments==1.6
Sphinx==1.2.2
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
bagit==1.3.6
billiard==3.3.0.18
celery==3.1.13
dicttoxml==1.3.1
docutils==0.11
gunicorn==18.0
ipython==2.2.0
kombu==3.0.21
pyClamd==0.3.10
python-magic==0.4.6
pytz==2014.4
requests==2.2.1
sphinx-rtd-theme==0.1.6
wsgiref==0.1.2
