{% extends "etd_drop_app/base.html" %}

{% block content %}
<div class="row marketing">
  <div class="col-lg-6">
    {{ body_text|linebreaks }}
  </div>
  <div class="col-lg-6">
    <div class="well">
      {% if user.is_authenticated %}
      <p>Logged in as <strong>{{ user.username }}</strong>.</p>
      <a class="btn btn-primary" href="/logout">Log Out</a>
      {% else %}
      <form role="form" method="post" action="{% url 'etd_drop_app.views.login_view' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="user">Username</label>
          <input type="text" name="username" id="user" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
      {% endif %}
    </div>
    {% if contact_email or contact_phone %}
    <div class="panel panel-info" id="contact-info">
      <div class="panel-heading">Need help?</div>
      <div class="panel-body">
        {% if contact_email %}
        <label>Email</label>
        <p><a href="">{{ contact_email|urlize }}</p>
        {% endif %}
        {% if contact_phone %}
        <label>Phone</label>
        <p>{{ contact_phone }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}