{% extends "etd_drop_app/base.html" %}
{% load form_helpers %}

{% block content %}
<form enctype="multipart/form-data" method="post" action="" role="form">
  {% csrf_token %}
  <fieldset>
    <legend>Upload files</legend>

    {% bootstrap_field form.document_file "application/pdf" %}

    {% if field_settings.supplemental_file.visible %}
    {% bootstrap_field form.supplemental_file "application/zip" %}
    {% endif %}

    {% if field_settings.license_file.visible %}
    {% bootstrap_field form.license_file "application/pdf" %}
    {% endif %}

  </fieldset>
  <fieldset>
    <legend>Metadata</legend>

    {% if field_settings.title.visible %}
    {% bootstrap_field form.title "e.g. Research on the Theory of the Quanta" %}
    {% endif %}
    {% if field_settings.author.visible %}
    {% bootstrap_field form.author %}
    {% endif %}
    {% if field_settings.subject.visible %}
    {% bootstrap_field form.subject %}
    {% endif %}
    {% if field_settings.date.visible %}
    {% bootstrap_field form.date %}
    {% endif %}
    {% if field_settings.abstract.visible %}
    {% bootstrap_field form.abstract %}
    {% endif %}

  </fieldset>
  <fieldset>
    <legend>Finish submission</legend>

    {{ agreement|linebreaks }}

    <div class="form-group">
      <label class="checkbox control-label">
        <input type="checkbox" name="agreement"{% if form.cleaned_data.agreement %} checked{% endif %}> I agree to the terms
      </label>
      {{ form.agreement.errors }}
    </div>

  </fieldset>
  <button type="submit" class="btn btn-primary">Upload and Submit</button>
</form>
{% endblock %}
