{% extends "etd_drop_app/base.html" %}

{% block content %}
{% if submissions %}
<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>User</th>
      <th>PDF</th>
      <th>JSON</th>
      <th>XML</th>
    </tr>
  </thead>
  <tbody>
  {% for entry in submissions %}
    <tr>
      <td><a href="{% url 'etd_drop_app.views.submission_detail' entry.identifier %}">{{ entry.identifier }}</a></td>
      <td>{{ entry.username }}</td>
      <td><a href="{% url 'etd_drop_app.views.submission_pdf' entry.identifier %}">PDF</a></td>
      <td><a href="{% url 'etd_drop_app.views.submission_json' entry.identifier %}">JSON</a></td>
      <td><a href="{% url 'etd_drop_app.views.submission_xml' entry.identifier %}">XML</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No bags were found in the ETD bag directory.</p>
{% endif %}
{% endblock %}
